In [1]:
import pandas as pd
import os

In [2]:
pwd=os.getcwd()

In [66]:
dataset=pd.read_excel(r'C:\Users\daniel\OneDrive - University of Birmingham (1)\Python Scripts\Data - Survey Monkey Output.xlsx', sheet_name="Edited_Data")

In [30]:
dataset_modified=dataset.copy() #saves memory if make a copy rather than constantly running script and pulling data from folder

In [35]:
dataset.columns

Index(['Respondent ID-Subquestion', 'Start Date-Subquestion',
       'End Date-Subquestion', 'Email Address-Subquestion',
       'First Name-Subquestion', 'Last Name-Subquestion',
       'Custom Data 1-Subquestion',
       'Identify which division you work in.-Response',
       'Identify which division you work in.-Other (please specify)',
       'Which of the following best describes your position level?-Response',
       'Which generation are you apart of?-Response',
       'Please select the gender in which you identify.-Response',
       'Which duration range best aligns with your tenure at your company?-Response',
       'Which of the following best describes your employment type?-Response',
       'Question 1-Response', 'Question 2-Response',
       'Question 3-Open-Ended Response', 'Question 4-Response',
       'Question 4-Other (please specify)', 'Question 5-Response 1',
       'Question 5-Response 2', 'Question 5-Response 3',
       'Question 5-Response 4', 'Question 5-Response 5',
       'Question 5-Response 6', 'Question 6-Response 1',
       'Question 6-Response 2', 'Question 6-Response 3',
       'Question 6-Response 4', 'Question 6-Response 5',
       'Question 6-Response 6', 'Question 7-Response 1',
       'Question 7-Unscheduled', 'Question 8-Response 1',
       'Question 8-Response 2', 'Question 8-Response 3',
       'Question 8-Response 4', 'Question 9-Response 1',
       'Question 9-Response 2', 'Question 9-Response 3',
       'Question 9-Response 4', 'Question 10-Response 1',
       'Question 10-Response 2', 'Question 10-Response 3',
       'Question 10-Response 4', 'Question 10-Response 5',
       'Question 11-Reponse 1', 'Question 11-Response 2',
       'Question 12-Response', 'Question 13-Response', 'Question 14-Response',
       'Question 15-Response', 'Question 16-Response', 'Question 17-Response',
       'Question 18-Response', 'Question 19-Response',
       'Question 19-Other (please specify)', 'Question 20-Response',
       'Question 21-Response', 'Question 22-Reponse 1',
       'Question 22-Reponse 2', 'Question 23-Response',
       'Question 24-Response 1', 'Question 24-Response 2',
       'Question 24-Response 3', 'Question 24-Response 4',
       'Question 24-Response 5', 'Question 25-Response 1',
       'Question 25-Response 2', 'Question 25-Response 3',
       'Question 25-Response 4', 'Question 25-Response 5',
       'Question 25-Response 6', 'Question 25-Response 7',
       'Question 25-Response 8', 'Question 25-Response 9',
       'Question 26-Response 1', 'Question 26-Response 2',
       'Question 26-Response 3', 'Question 26-Response 4',
       'Question 27-Response 1', 'Question 27-Response 2',
       'Question 28-Response', 'Question 29-Response 1',
       'Question 29-Response 2', 'Question 29-Response 3',
       'Question 29-Response 4', 'Question 29-Response 5',
       'Question 29-Response 6', 'Question 29-Response 7',
       'Question 29-Response 8', 'Question 29-Response 9',
       'Question 29-Response 10', 'Question 29-Response 11',
       'Question 29-Response 12', 'Question 29-Response 13',
       'Question 29-Response 14', 'Question 30-Response 1',
       'Question 30-Response 2', 'Question 30-Response 3'],
      dtype='object')

In [45]:
drop_columns=['Start Date-Subquestion',
       'End Date-Subquestion', 'Email Address-Subquestion',
       'First Name-Subquestion', 'Last Name-Subquestion',
       'Custom Data 1-Subquestion',]
dataset_modified=dataset_modified.drop(columns=drop_columns)

In [49]:
list(dataset_modified.columns)[8:]

['Question 1-Response',
 'Question 2-Response',
 'Question 3-Open-Ended Response',
 'Question 4-Response',
 'Question 4-Other (please specify)',
 'Question 5-Response 1',
 'Question 5-Response 2',
 'Question 5-Response 3',
 'Question 5-Response 4',
 'Question 5-Response 5',
 'Question 5-Response 6',
 'Question 6-Response 1',
 'Question 6-Response 2',
 'Question 6-Response 3',
 'Question 6-Response 4',
 'Question 6-Response 5',
 'Question 6-Response 6',
 'Question 7-Response 1',
 'Question 7-Unscheduled',
 'Question 8-Response 1',
 'Question 8-Response 2',
 'Question 8-Response 3',
 'Question 8-Response 4',
 'Question 9-Response 1',
 'Question 9-Response 2',
 'Question 9-Response 3',
 'Question 9-Response 4',
 'Question 10-Response 1',
 'Question 10-Response 2',
 'Question 10-Response 3',
 'Question 10-Response 4',
 'Question 10-Response 5',
 'Question 11-Reponse 1',
 'Question 11-Response 2',
 'Question 12-Response',
 'Question 13-Response',
 'Question 14-Response',
 'Question 15-Response',
 'Question 16-Response',
 'Question 17-Response',
 'Question 18-Response',
 'Question 19-Response',
 'Question 19-Other (please specify)',
 'Question 20-Response',
 'Question 21-Response',
 'Question 22-Reponse 1',
 'Question 22-Reponse 2',
 'Question 23-Response',
 'Question 24-Response 1',
 'Question 24-Response 2',
 'Question 24-Response 3',
 'Question 24-Response 4',
 'Question 24-Response 5',
 'Question 25-Response 1',
 'Question 25-Response 2',
 'Question 25-Response 3',
 'Question 25-Response 4',
 'Question 25-Response 5',
 'Question 25-Response 6',
 'Question 25-Response 7',
 'Question 25-Response 8',
 'Question 25-Response 9',
 'Question 26-Response 1',
 'Question 26-Response 2',
 'Question 26-Response 3',
 'Question 26-Response 4',
 'Question 27-Response 1',
 'Question 27-Response 2',
 'Question 28-Response',
 'Question 29-Response 1',
 'Question 29-Response 2',
 'Question 29-Response 3',
 'Question 29-Response 4',
 'Question 29-Response 5',
 'Question 29-Response 6',
 'Question 29-Response 7',
 'Question 29-Response 8',
 'Question 29-Response 9',
 'Question 29-Response 10',
 'Question 29-Response 11',
 'Question 29-Response 12',
 'Question 29-Response 13',
 'Question 29-Response 14',
 'Question 30-Response 1',
 'Question 30-Response 2',
 'Question 30-Response 3']

In [47]:
id_vars=list(dataset_modified.columns)[:8]
value_vars=list(dataset_modified.columns)[8:]

In [51]:
dataset_melted=dataset_modified.melt(id_vars=id_vars, value_vars=value_vars, var_name="Question + Subquestion", value_name="Answer")

In [80]:
question_input=pd.read_excel(r'C:\Users\daniel\OneDrive - University of Birmingham (1)\Python Scripts\Data - Survey Monkey Output.xlsx', sheet_name="Question")

In [82]:
question=question_input.copy()
question.drop(columns=["Raw Question","Raw Subquestion","Subquestion"],inplace=True)

In [84]:
dataset_merged=pd.merge(left=dataset_melted, right=question, how="left", left_on="Question + Subquestion", right_on="Question + Subquestion")

In [122]:
respondents=dataset_merged[dataset_merged["Answer"].notna()].groupby("Question")["Respondent ID-Subquestion"].nunique().reset_index()
respondents.rename(columns={"Respondent ID-Subquestion":"Respondents"},inplace=True)

In [103]:
dataset_merged_two=pd.merge(left=dataset_merged, right=respondents, how="left", left_on="Question", right_on="Question")

In [117]:
respondentstest=dataset_merged[dataset_merged["Answer"].notna()].groupby("Question")#["Respondent ID-Subquestion"].nunique().reset_index()
#respondents.rename(columns={"Respondent ID-Subquestion":"Respondents"},inplace=True)

In [127]:
dataset_merged[dataset_merged["Answer"].notna()]

,Respondent ID-Subquestion,Identify which division you work in.-Response,Identify which division you work in.-Other (please specify),Which of the following best describes your position level?-Response,Which generation are you apart of?-Response,Please select the gender in which you identify.-Response,Which duration range best aligns with your tenure at your company?-Response,Which of the following best describes your employment type?-Response,Question + Subquestion,Answer,Question
1,2658722536,Finance,NaN,Staff,NaN,NaN,10+ years,Full time Employee,Question 1-Response,Answer 4,Question 1
2,4044163394,Infrastructure,NaN,Department Lead,Generation X (born between 1965-1980),Male,3-5 years,Full time Employee,Question 1-Response,Answer 5,Question 1
3,5535865599,Infrastructure,NaN,Manager,Millennial (born between 1981-2000),Non-Binary,5-10 years,Full time Employee,Question 1-Response,Answer 1,Question 1
5,3399511781,Infrastructure,NaN,Staff,Generation X (born between 1965-1980),Male,3-5 years,Full time Employee,Question 1-Response,Answer 8,Question 1
6,9860597462,Infrastructure,NaN,Department Lead,Baby Boomer (born between 1946-1964),Male,10+ years,Full time Employee,Question 1-Response,Answer 8,Question 1
...,...,...,...,...,...,...,...,...,...,...,...
17017,9735550076,People,NaN,Staff,Generation X (born between 1965-1980),Male,5-10 years,Full time Employee,Question 30-Response 3,Answer 5,Question 30
17020,7325851635,Infrastructure,NaN,Manager,Millennial (born between 1981-2000),Prefer not to answer,3-5 years,Full time Employee,Question 30-Response 3,Answer 5,Question 30
17021,3370365802,Port Security & Emergency Operations,NaN,Staff,Generation X (born between 1965-1980),Female,0-2 years,Full time Employee,Question 30-Response 3,Answer 6,Question 30
17023,7940065082,Infrastructure,NaN,Department Lead,Baby Boomer (born between 1946-1964),Male,10+ years,Full time Employee,Question 30-Response 3,Answer 8,Question 30
17024,5157705612,Finance,NaN,Staff,Millennial (born between 1981-2000),Female,5-10 years,Full time Employee,Question 30-Response 3,Answer 6,Question 30

In [145]:
same_answer=dataset_merged_two
same_answer=same_answer.groupby(["Question + Subquestion","Answer"])["Respondent ID-Subquestion"].nunique().reset_index()
same_answer.rename(columns={"Respondent ID-Subquestion":"Same answer"},inplace=True)

In [149]:
dataset_merged_three=pd.merge(left=dataset_merged_two, right=same_answer, how="left", left_on=["Question + Subquestion","Answer"], right_on=["Question + Subquestion","Answer"])
dataset_merged_three["Same answer"].fillna(0,inplace=True)

In [150]:
dataset_merged_three.head()

,Respondent ID-Subquestion,Identify which division you work in.-Response,Identify which division you work in.-Other (please specify),Which of the following best describes your position level?-Response,Which generation are you apart of?-Response,Please select the gender in which you identify.-Response,Which duration range best aligns with your tenure at your company?-Response,Which of the following best describes your employment type?-Response,Question + Subquestion,Answer,Question,Respondents,Same answer
0,5379192392,Infrastructure,NaN,Staff,Generation X (born between 1965-1980),Male,0-2 years,Full time Employee,Question 1-Response,NaN,Question 1,119,0.0
1,2658722536,Finance,NaN,Staff,NaN,NaN,10+ years,Full time Employee,Question 1-Response,Answer 4,Question 1,119,17.0
2,4044163394,Infrastructure,NaN,Department Lead,Generation X (born between 1965-1980),Male,3-5 years,Full time Employee,Question 1-Response,Answer 5,Question 1,119,22.0
3,5535865599,Infrastructure,NaN,Manager,Millennial (born between 1981-2000),Non-Binary,5-10 years,Full time Employee,Question 1-Response,Answer 1,Question 1,119,14.0
4,3356802928,Port Operations,NaN,Manager,Generation X (born between 1965-1980),Female,10+ years,Full time Employee,Question 1-Response,NaN,Question 1,119,0.0

In [152]:
output=dataset_merged_three.copy()
output.rename(columns={"Identify which division you work in.-Response":"Divison Primary",	"Identify which division you work in.-Other (please specify)":"Secondary",	"Which of the following best describes your position level?-Response":"Position",	"Which generation are you apart of?-Response":"Generation",	"Please select the gender in which you identify.-Response":"Gender", "Which duration range best aligns with your tenure at your company?-Response":"Tenure",	"Which of the following best describes your employment type?-Response":"Employment Type"}, inplace=True)

In [155]:
output.to_excel(r'C:\Users\daniel\OneDrive - University of Birmingham (1)\Python Scripts\Data - Final Survey Monkey Output From Python.xlsx')